/*
  nora-simple.css
  simple css for NoraMark text
 */

body {
    font-family: serif, sans-serif;
    line-height: 1.75;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

dt {
  font-family: sans-serif;
}

pre {
    padding: 0.5em;
    background: #dddddd;
    width: 95%;
    margin: 1em auto;
    border: 1px solid #aaaaaa;
    border-radius: 0.5em;
}

code {
    background: #dddddd;
    margin: 0.4em;
    border-radius: 0.1em;
    border: 1px solid #aaaaaa;
}

pre code {
    margin: 0;
    border: 0;
}

.pre {
    margin: 1em auto;
}

.pre .caption {
   color: #220000;
   padding-left: 0.5em;
   margin: 0 auto;
   font-size: 0.9em;
   
}

.pre pre {
    margin: 0 auto;
}


h1 {
    border-bottom: 1px solid #444444;
}

h2 {
    border-bottom: 1px solid #888888;
}

h3 {
    border-bottom: 1px solid #aaaaaa;
}